html {
  background-image: url("/images/background.png");
  /*Background from subtlepatterns.com*/
}

#grouppic {
  margin: auto;
  display: block;
  border-color: #841983;
  border-width: thick;
  border-style: solid;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #841983;
  color: white;
  top: 0px;
  margin-top: 0%;
}

.name1 {
  font-family: 'Oswald';
  font-size: 36px;
  color: #4CDEF5;
}

.name2 {
  font-family: 'Oswald';
  font-size: 36px;
  color: #A4D555;
}

.name3 {
  font-family: 'Oswald';
  font-size: 36px;
  color: #FF5992;
}

div.us{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
}


.rbutton {/*Controls button in newletter.html*/
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  height: 25px;
  margin: auto;
  position: fixed;
}

#credits {
  font-family: 'Oswald';
  text-align: center;
  font-size: 40px;
  color: #841983;
  margin-bottom: 5%;
}
