.wrap2 {
	perspective: 800px;
	perspective-origin: 50% -150px;
  margin-top: 30px;
}
.cube2 {
	position: relative;
	width: 102px;
	transform-style: preserve-3d;

}
.cube2 div {
	position: absolute;
	width: 100px;
	height: 100px;
  background-color:#0F1626;;
  border: #262d3b solid 2px;
}
.back2 {
	transform: translateZ(-52px) rotateY(180deg);
}
.right2 {
	transform: rotateY(-270deg) translateX(52px);
	transform-origin: top right;
}
.left2 {
	transform: rotateY(270deg) translateX(-52px);
	transform-origin: center left;
}
.top2 {
	transform: rotateX(-90deg) translateY(-52px);
	transform-origin: top center;
}
.bottom2 {
	transform: rotateX(90deg) translateY(52px);
	transform-origin: bottom center;
}
.front2 {
	transform: translateZ(52px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
.cube2{
	animation: spin 6s infinite linear;
}


#cross2 {
  background: #F5F5F5;
  height: 104px;
  position:relative;
  width: 20px;
  top:-1.9px;
  border: none;
}
#cross2:after {
  background:#F5F5F5;
  content: "";
  height: 20px;
  left: -42px;
  position: absolute;
  top: 40px;
  width: 104px;
}
