html {
  /*Replace html with letter*/
  text-align: center;
  background-image: url("/images/background.png");
  /* Background pattern from subtlepatterns.com */
}

#cssilogo {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0%;
  max-height: 100px;
  max-width: 600px;
}

.letter {
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 20%;
  border-color: #db3236;
  border-width: thick;
  border-style: solid;
  background-color: white;
}

p {
  font-family: 'Futura';
  font-size: 30px;
  color: #4885ed;
}

h3 {
  font-family: 'Futura', sans-serif;
  font-size: 30px;
  color: white;
  background-color: #3cba54;
}

.rbutton {/*Controls button in newletter.html*/
  background-color: #f4c20d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  height: 25px;
  margin: auto;
}
