html {
  /*Replace html with letter*/
  background-image: url("/images/background.png");
  text-align: center;
  /* Background pattern from subtlepatterns.com */
}

.letter {
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("/images/crossword.png");
  border-color: #0B3C5D;
  border-width: thick;
  border-style: solid;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #F5F5F5;
  background-color: #0B3C5D;
  margin-top: 0%;
}

p {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 30px;
  color: #1D2731;
}

h3 {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 30px;
  color: #F5F5F5;
  background-color: #D9B310;
}

.rbutton {/*Controls button in newletter.html*/
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  height: 25px;
  margin: auto;
}
