html {
  text-align: center;
  background-image: url("/images/background3.png");
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #A5A5AF;
}

#googleMap {
  margin: auto;
}

.button {
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
}

.topbutton {
  background-color: #FF5992;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70px;
  font-family: 'Oswald', sans-serif;
}
