html {
  text-align: center;
  background-image: url("/images/background3.png");
  /* Background pattern from subtlepatterns.com */
  /*Thanks Katrina B.*/
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
  top: 0px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #A5A5AF;
}

#googleMap {
  margin: auto;
}

.button {
  background-color: #FF5992;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  transition-duration: 0.4s;
}

.topbutton {
  background-color: #841583;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70px;
  font-family: 'Oswald', sans-serif;
  transition-duration: 0.4s;
}

.topbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#902c8f;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ff699c;
}

#send{
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  transition-duration: 0.4s;
}
#send span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#send span:after {
  content: ">>";
  font-size: 20px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: -20px;
  transition: 0.5s;
}

#send:hover span {
  padding-right: 25px;
}

#send:hover span:after {
  opacity: 1;
  right: 0;
}

.dropdown1 {
    position: absolute;
    top: 129px;
    left: 8px;
    display: inline-block;
    background-color: #A4D555;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: auto;
    width: 180px;
    height: 50px;
    vertical-align: middle;
}

.dropdown2 {
    position: absolute;
    top: 129px;
    right: 8px;
    display: inline-block;
    background-color: #A4D555;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: auto;
    width: 180px;
    height: 50px;
    vertical-align: middle;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0px;
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0px;
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
}

.dropdown-content2 ul {
  text-align: left;
}

form {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

#user {
  position: absolute;
  top: 129px;
  left: 470px;
  display: inline-block;
  background-color: #A4D555;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: auto;
  width: 500px;
  height: 30px;
  vertical-align: middle;
}
