html {
  text-align: center;
  background-image: url("/images/background3.png");
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
  top: 0px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #A5A5AF;
}

#googleMap {
  margin: auto;
}

.button {
  background-color: #FF5992;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
}

.topbutton {
  background-color: #841583;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70px;
  font-family: 'Oswald', sans-serif;
}

.dropdown1 {
    position: absolute;
    top: 129px;
    left: 8px;
    display: inline-block;
    background-color: #A4D555;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: auto;
    width: 180px;
    height: 50px;
    vertical-align: middle;
}

.dropdown2 {
    position: absolute;
    top: 129px;
    right: 8px;
    display: inline-block;
    background-color: #A4D555;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: auto;
    width: 180px;
    height: 50px;
    vertical-align: middle;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0px;
    font-size: 20px;
    color: black;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0px;
    font-size: 20px;
    color: black;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}
