div.from{
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  width: 430px;
  height: 30px;
  background-color: #57BC90;
}

.message{
  margin-right: 20px;
  margin-left: 20px;
  float:left;
  height: 200px;
  width:430px;
}
a{
    text-decoration: none;
}

div.messagecontent {
  vertical-align: middle;
}

html {
  text-align: center;
  background-image: url("/images/background.png");
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
  margin-top: 0%;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}


.rbutton {/*Controls button in newletter.html*/
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  height: 25px;
  margin: auto;
  position: fixed;
}

#send {
  background-color: #841583;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  margin: auto;
  font-family: 'Oswald', sans-serif;
}

.textbox {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#btn {
  background-color: #57BC90;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: auto;
  font-family: 'Lato', sans-serif;
}
