html {
  /*Replace html with letter*/
  background-image: url("/images/footer_lodyas.png");
  text-align: center;
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Allan', sans-serif;
  font-size: 30px;
  color: #8FC33A;
}

p {
  font-family: 'Cardo', sans-serif;
  font-size: 16px;
  color: #FE65B7;
}

h3 {
  font-family: 'Allan', sans-serif;
  font-size: 16px;
  color: #E9C904;
  background-color: #62EDD6;
}
