html {
  text-align: center;
  background-image: url("/images/background3.png");
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
}

div.message{
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  /*color: white;
  width: 180px;
  height: 30px;
  background-color: #57BC90;*/
}
.rbutton{
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
}

.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}
.cube {
	position: relative;
	width: 102px;
	transform-style: preserve-3d;
}
.cube div {
	position: absolute;
	width: 100px;
	height: 100px;
  background-color:orange;
  border: darkorange solid 2px ;
}
.back {
	transform: translateZ(-52px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(52px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-52px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-52px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(52px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(52px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 10s infinite linear;
}

#cross {
  background: red;
  height: 100px;
  position:relative;
  width: 20px;
  margin:auto;
  border: none;
}
#cross:after {
  background:red;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}
