html {
  text-align: center;
  background-image: url("/images/background3.png");
  /* Background pattern from subtlepatterns.com */
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  background-color: #4CDEF5;
  color: white;
}

.message{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 50px;
  /*color: white;
  width: 180px;
  height: 30px;
  background-color: #57BC90;*/
  height: 200px;
  width: 200px;
}


.rbutton{
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  margin: auto;
  position: absolute;
}
