html {
  /*Replace html with letter*/
  background-image: url("/images/background.png");
  text-align: center;
  /* Background pattern from subtlepatterns.com */
}

.letter {
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url("/images/wov.png");
    /* Background pattern from subtlepatterns.com */
  border-color: #1FBF85;
  border-width: thick;
  border-style: solid;
}

h1 {
  font-family: 'Unica One', sans-serif;
  font-size: 60px;
  background-color: #1FBF85;
  color: #F5F5F5;
  margin-top: 0%;
}

p {
  font-family: 'Vollkorn', sans-serif;
  font-size: 30px;
  color: black;
}

h3 {
  font-family: 'Vollkorn', sans-serif;
  font-size: 30px;
  color: #F5F5F5;
  background-color: #EAB126;
}

.rbutton {
  background-color: #A4D555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 180px;
  font-family: 'Oswald', sans-serif;
  bottom: 0;
  left: 600px;
  height: 25px;
  margin: auto;
}

.imagetho {
  max-height: 300px;
}
