<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <script src="js/about.js"></script>
    <link rel="stylesheet" href="stylesheets/about.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="myfavicon.ico" />
  </head>
  <body>
    <section><center><h1>GET TO KNOW US</h1></center></section>

      <img id = "grouppic" src="/images/pepe.jpg">
      <br>
      <br>
      <div class = "us">
        <div class = "bio" id = "1">
          <div class="name1"><b>JUAN AYALA</b></div>
          <br>
          <br>
          My name is Juan Ayala and I have been living my entire life in Redwood City.
          I am the youngest of four and the only boy in the family (aside from my father, of course).
          I am graduating Sequoia High School and will be attending UC Santa Cruz - GO Banana Slugs!
          I really enjoy playing any type of games, from video to board. I love swimming and singing in the shower, and
          my friends consider me a radio since I sing so many songs (even though I am not the best at it).
          When I'm not doing high school things (It's all over! YAY...except...there still is college),
          I chill with my family or friends, or play video games. My favorite color is blue. I play the saxophone.
          Vanilla is my favorite ice cream flavor. I enjoy scary movies. Peanut butter cookies -- duh BEST.
          I do not like chocolate and I hate traffic.
          <br>
          Fun Fact: My spirit animal is a penguin﻿.
        </div>

        <br>
        <br>
        <div class = "bio" id ="2">
          <div class="name2"><b>THU NGUYEN</b></div>
          <br>
          <br>
          Hi, I'm Thu! I'm from San Jose, and I'm a graduate of KIPP San Jose Collegiate. I'll be going to UC Berkeley this fall of 2016
          as a Computer Science major in the College of Letters and Sciences. I'm a major foodie, and I love trying all the
          latest food places in my neighborhood -- especially the boba cafes! My favorite flavors are lychee, strawberry,
          mango, and peach (I highly recommend them)! I cry when I see puppies (called "Dooglers" on the Google campus), which is pretty fun.
          I really love playing the piano, I crack lots of lame jokes, and I love meeting new people,
          so it's really nice to meet you all!
          <br>
          Fun Fact: I have tiny hands!﻿
        </div>

        <br>
        <br>
        <div class = 'bio' id = "threegan">
          <div class="name3"><b>MEGAN GAMINO</b></div>
          <br>
          <br>
          Hi everyone! I'm Megan. I'm a born and raised San Francisco (technically Daly City, but I live 3 blocks from
          the city border) native and I absolutely love my city. Other things I love: writing, dogs, my friends, good comedy,
          and exploring. I also really like TV (I'm watching the latest GoT episode as I write this) and movies. My all time
          favorite movies are Virgin Suicides, But I'm a Cheerleader, and V for Vendetta.
          <br>
          Some rapidfire quick facts about me: I'm 18, I'm planning on studying CS
          next year at Harvard, I can read Latin, I'm gay, I take candids of my friends when we hang, I drink black coffee, and
          I love dogs more than anything. I know dogs are mentioned twice in this post, but that's really just how much I love them.
          <br>
          Fun Fact: Find me at <a href="http://www.megangamino.com">megangamino.com</a>!
        </div>
    </div>

    <div id = "credits"><h3>THANK YOU, CSSI MTV 2016!</h3></div>

    <!-- <section class = "summer">
      <center>
        <h1>Our Time In Computer Science Summer Institute</h1>
        <img src = "images/CSSI.png">
      </center>
    </section> -->
    <a href="/" class="rbutton"> RETURN HOME </a>
  </body>
</html>
