<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <script src="js/about.js"></script>
    <link rel="stylesheet" href="stylesheets/about.css">
  </head>
  <body>
    <section><center><h1>Get To Know Us</h1></center></section>
      <div class = "us">
        <div class = "bio" id = "1">
          <b>Juan Ayala</b> is cool.
          <br>
            Image Stuff
          <br>
            Bio
        </div>
        <div class = "bio" id ="2">
          <b>Thu Nguyen</b> isn't real.
          <br>
            Image Stuff
          <br>
          Bio
        </div>
        <div class = 'bio' id = "3gan">
          <b>Megan Gamino</b> can be reached at <a href="http://www.megangamino.com">megangamino.com</a>
          <br>
            Image Stuff
          <br>
          Bio
        </div>
    </div>
    <section class = "summer">
      Our Time Computer Science Summer Institute
    </section>
  </body>
</html>
