<!DOCTYPE html>
<html>
  <head>
    <title>WTF Is A Post Office</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="stylesheets/home.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>WTF IS A POST OFFICE</h1>

    <div class="dropdown1">
      <span>HOW TO USE</span>
        <div class="dropdown-content1">
          <p>
            Keep in touch with friends and family, whenever and wherever! With a thoughtful message and the touch of a button,
            you can make anyone's day a little brighter.
            <br>
            Our process is simple! Go to "Send Mail" to write your message and specify your
            message's delivery date, including the recipient's email and location.
            <br>
            You can view sent messages through our "Outbox" function.
            <br>
            On the specified date, your message will be swiftly delivered and can be conveniently accessed by your recipient through
            the "Inbox" function.
          </p>

            </aside>
          </p>
        </div>
    </div>

    <div class="dropdown2">
      <span>FUN IDEAS</span>
        <div class="dropdown-content2">
          <p>Welcome to Google’s Computer Science Summer Institute! We are so excited to work with you, and join you
            on your journey into computer science.<br>
            CSSI aims to provide an introduction to computer science for high school level students with a passion for technology.
            Our curriculum provides an intensive, interactive and hands-on opportunity for students with minimal exposure to CS to
            learn the basic concepts of programming. This content seeks to inspire the tech leaders and innovators of tomorrow by
            supporting the study of computer science, software engineering and other closely related subjects.</p>
        </div>
    </div>

    <h2>Send letters to <em>any</em> friend, <em>any</em>time, <em>any</em>where!</h2>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <br>
    <a href="/inbox.html" class="button"> INBOX </a>
    <a href="/outbox.html" class="button"> OUTBOX </a>
    <br>
    <br>
    <a href="/newletter.html" id = "send"><span> SEND MAIL </span></a>
    <br>
    <br>
    <br>
    <br>
    <a href="/about.html" class="topbutton"> ABOUT US </a>
    <form action="/">
      <p><a href="{{logout_url}}">SIGN OUT</a></p>
    </form>
  </body>
</html>
