<!DOCTYPE html>
<html>
  <head>
    <title>My Inbox</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/inbox.js"></script>
    <link rel="stylesheet" href="stylesheets/inbox.css">
  </head>
  <body>
    <section><h1> Your Inbox</h1></section>
    <div class="recieved">
      <!--For loop reciever key-->

        <div class = "message">
          <center> </center>
        </div>
      <!--end loop-->
    </div>


  </body>
</html>
