<!DOCTYPE html>
<html>
  <head>
    <title>My Inbox</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/inbox.js"></script>
    <link rel="stylesheet" href="stylesheets/inbox.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <section><h1>MY INBOX</h1></section>
    <div class="recieved">
      <!--For loop reciever key-->

        <div class = "message">
          <div class="messagecontent"><center>NAME</center></div>
          <div class ="textbox">
          </div>
        </div>
      <!--end loop-->
    </div>
<a href="/" class="rbutton"> RETURN <br> HOME </a>

  </body>
</html>
