<!DOCTYPE html>
<html>
  <head>
    <title>Letter</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato|Pompiere|Buda:300|Raleway|Old+Standard+TT|Allan|Cardo|Fjalla+One|Unica+One|Vollkorn' rel='stylesheet' type='text/css'>
    {% if letter.theme == "cute" %}
      <link rel="stylesheet" href="stylesheets/cute.css">
    {% elif letter.theme == "classic" %}
      <link rel="stylesheet" href="stylesheets/classic.css">
    {% elif letter.theme == "bold" %}
      <link rel="stylesheet" href="stylesheets/bold.css">
    {% elif letter.theme == "tropical" %}
      <link rel="stylesheet" href="stylesheets/tropical.css">
    {% else %}
      <link rel="stylesheet" href="stylesheets/elegant.css">
    {% endif %}
  </head>
  <body>
    <div class="letter">
      <div class="curl"></div>
      <div class = "message">
        {% if letter.theme == "cute" %}
          <h1>HI THERE</h1>
        {% elif letter.theme == "classic" %}
          <h1>JUST A NOTE</h1>
        {% elif letter.theme == "bold" %}
          <h1>MESSAGE</h1>
        {% elif letter.theme == "tropical" %}
          <h1>HELLO</h1>
        {% else %}
          <h1>GREETINGS</h1>
        {% endif %}
          <div class ="text">
            <p>{{letter.text}}</p>
        </div>
        <h3>{{letter.sender_email}}</h3>
      </div>
      </div>

    <br>
    <a href="/inbox.html" class="rbutton"> INBOX </a>
    <br>
    <a href="/" class="rbutton"> RETURN HOME </a>
  </body>
</html>
