<!DOCTYPE html>
<html>
  <head>
    <title>Letter</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Lato|Pompiere|Buda:300|Raleway|Goudy+Bookletter+1911|Allan|Cardo|Rufina|Signika' rel='stylesheet' type='text/css'>
    {% if theme == "cute" %}
      <link rel="stylesheet" href="stylesheets/cute.css">
    {% elsif theme == "classic" %}
      <link rel="stylesheet" href="stylesheets/classic.css">
    {% elsif theme == "bold" %}
      <link rel="stylesheet" href="stylesheets/bold.css">
    {% elsif theme == "neon" %}
      <link rel="stylesheet" href="stylesheets/neon.css">
    {% else %}
      <link rel="stylesheet" href="stylesheets/elegant.css">
    {% endif %}
  </head>
  <body>
    <div class="letter">
      <div class = "message">
        <h1>MESSAGE</h1>
          <div class ="text">
            <p>{{sender.text}}</p>
        </div>
        <h3>{{sender.name}}</h3>
      </div>
      </div>

    <a href="/" class="rbutton"> RETURN HOME </a>
    <a href="/inbox.html" class="rbutton"> INBOX </a>
  </body>
</html>
