<!DOCTYPE html>
<html>
  <head>
    <title>New Letter</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/inbox.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/inbox.css">
  </head>
  <body>
    <section><h1> Your Inbox</h1></section>

    <form method="post" action="">
      <h3>TO: <input type="text" name="receiver"/></h3>
      <h3> DELIVERY DATE: (not active)<input type = "text" name="deliverydate"/></h3>
      <h3>Write your message!<input type="text" name="text"/></h3>

      <p><input type="submit" value="Post Message" style="width:100px; height:10px"></p>
    </form>


  </body>
</html>
