<!DOCTYPE html>
<html>
  <head>
    <title>Send Mail</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/newletter.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/inbox.css">

    <script>
    function updateTheme(){
      document.getElementById("realTheme").value = document.getElementById("tempTheme").value
    }
    </script>
    <link rel="icon" type="image/png" href="myfavicon.ico" />
  </head>

  <body>
    <section><h1>NEW LETTER</h1></section>

    <form method="post" action="" enctype="multipart/form-data">

      <h3>TO: <input type="text" name="receiver" placeholder="friend@gmail.com"/></h3>
      <h3>LOCATION:<input id ="pac-input" class ="controls" type="text" name="locate" placeholder="Zipcode or City"/></h3>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2F3hvciau43w3OEzoRaXTbg9kWiHORlw&libraries=places&callback=initAutocomplete" async defer></script>
      <h3>DELIVERY DATE:<input type = "date" name="deliverydate"/></h3>
      <h3>THEME:</h3> <select name="themeChoices" onchange='updateTheme()' id="tempTheme">
        <option value="cute">Cute</option>
        <option value="bold">Bold</option>
        <option value="tropical">Tropical</option>
        <option value="elegant">Elegant</option>
        <option value="classic">Classic</option>
        </select>
      <!-- <h3>IMAGE: <form action="demo_form.asp">
        <input type="file" name="pic" accept="image/*">
      </form></h3> -->
      <h3>MESSAGE:</h3>
      <input type="hidden" name="theme" value="cute" id="realTheme">

      <textarea type="text" name="text"/ cols="63px" rows="10" placeholder="What's up?" style="resize: none;"></textarea>

      <br>
      <h3>IMAGE UPLOAD</h3><input type="file" accept=".png" name="image" />
      <br>

      <p><input id="send" type="submit" value="SEND" style="width:100px; height:50px" ></p>
    </form> <br> <br>
    <a href="/" class="rbutton"> RETURN HOME </a>


  </body>
</html>
