<!DOCTYPE html>
<html>
  <head>
    <title>Oops!</title>
    <link rel="stylesheet" href="stylesheets/oops.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="myfavicon.ico" />
  </head>
  <body>
    <h1>C@RE PACKAGE</h1>
    <h2> OOPS! <br> Something went wrong with your message. Double check it here and make sure you entered everything correctly. You will have to reenter this info in the form.</h2>

    <!DOCTYPE html>
    <html>
      <head>
        <title>Letter</title>
        <link href='https://fonts.googleapis.com/css?family=Oswald|Lato|Pompiere|Buda:300|Raleway|Old+Standard+TT|Allan|Cardo|Fjalla+One|Unica+One|Vollkorn' rel='stylesheet' type='text/css'>

      </head>
      <body>
        <div class="letter">
          <div class="curl"></div>
          <div class = "message">

              <div class ="text">
              <h3> Letter Text:</h3>
              <p>{{text}}</p>
            </div>
            <h3>Sent To:</h3>
            <h4>{{email}}</h4>
            <h3>Location:</h3>
            <h4>{{location}}</h4>
            <h3>To Be Delivered On:</h3>
            <h4>{{datetemp}}</h4>
          </div>
          </div>

        <br>


    <a href="/newletter.html" class="sent"> TRY AGAIN </a>
  </body>
</html>
