<!DOCTYPE html>
<html>
  <head>
    <title>My Outbox</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/outbox.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/outbox.css">
    <link rel="icon" type="image/png" href="myfavicon.ico" />
  </head>
  <body>
    <h1>YOUR OUTBOX</h1>
      <div class="sent">
        <table style="width:100%">
          <tr>
            <th>RECIPIENT</th>
            <th>DATE WRITTEN </th>
            <th>DATE DELIVERED</th>
          </tr>
          {% for letter in deliveredletters %}
          <tr>
            <td>{{letter.receiver_email}}</td>
            <td> {{letter.writtendate.strftime("%B %d, %Y")}} </td>
            <td>{{letter.deliverydate.strftime("%B %d, %Y")}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <br>

      <br>

       <div class="sent">
            <table style="width:100%">
              <tr>
                <th>RECIPIENT</th>
                <th style ="width:411px">DATE WRITTEN</th>
                <th style ="width:470px">WILL BE DELIVERED ON</th>
              </tr>
              {% for letter in undeliveredletters %}
              <tr>
                <td>{{letter.receiver_email}}</td>
                <td> {{letter.writtendate.strftime("%B %d, %Y")}} </td>
                <td>{{letter.deliverydate.strftime("%B %d, %Y")}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
    <a href="/" class="rbutton"> RETURN HOME </a>

  </body>
</html>
