<!DOCTYPE html>
<html>
  <head>
    <title>Your Outbox</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/outbox.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/outbox.css">
  </head>
  <body>
    <h1>YOUR OUTBOX</h1>

      <div class="sent">
        <table style="width:100%">
          <tr>
            <th>RECIPIENT</th>
            <th>RECEIVE DATE</th>
          </tr>
          {% for letter in deliveredletters %}
          <tr>
            <td>{{letter.receiver_email}}</td>
            <td>{{letter.deliverydate}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- <div class="sent">
        <div class = "tobar" id = "to">RECIPIENT</div>
        <div class = "sentbar" id = "sent">DATE SENT</div>
        {% for letter in deliveredletters %}
          <div class = "to" id = "to">{{letter.receiver_email}}</div>
          <div class="sent" id = "sent">{{letter.deliverydate}}</div>
        {% endfor %}
      </div> -->

  <!-- <div class="recieved">
      {% for letter in undeliveredletters %}
        <div class = "message">
          <center>Name</center>
          <div class = "textbox">
            <div class="wrap">
            	<div class="cube">
            		<div class="front">front</div>
            		<div class="back">back</div>
            		<div class="top">top</div>
            		<div class="bottom">bottom</div>
            		<div class="left">left</div>
            		<div class="right">right</div>
            	</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div> -->

    <a href="/" class="rbutton"> RETURN HOME </a>

  </body>
</html>
