<!DOCTYPE html>
<html>
  <head>
    <title>My Outbox</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="js/outbox.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/outbox.css">
  </head>
  <body>
    <section><h1>YOUR OUTBOX</h1></section>
    <div class="delivered">
      <!--For loop sender letter key-->
        <div class = "message">
          <center>Name</center>
          <div class = "textbox">
            This is some text that your friend has received
          </div>
        </div>
      <!--end loop-->
    </div>
    <div class="sent">
      <!--For loop sender letter key-->
        <div class = "message">
          <center>Name</center>
          <div class = "textbox">
            This is text that you typed but they have not recieved
          </div>
        </div>
      <!--end loop-->
    </div>
  </body>
</html>
